jupyter
matplotlib
japanize-matplotlib
ipympl
scikit-learn
pandas
graphviz
pydot
autopep8
keras
tensorflow_cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
torchinfo
torchviz
tqdm
jax
jaxlib
uproot3
